html {
    height: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    min-height: 100%;
}
#push {
    position: relative;
    left:180px;
    width: calc(100% - 180px);
    height: calc(100% - 35px);
}
#insideBlock {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background-color: #eeeeee;
}
#pathheader {
    padding: 12px 20px 11px 10px;
    font-size: 10px;
    background-color: white;
}
.statBox {
    display: inline-block;
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: lighter;
    padding: 10px 0px;
    margin-bottom: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.statBox > i {
    display: block;
    margin-bottom: 10px;
}
#stat-box-1 {
    background-color: #27a9e3;
    width: 20%;
}
#stat-box-2 {
    background-color: #28b779;
    width:15%;
}
#stat-box-3 {
    background-color: #f74d4d;
    width:15%;
}
#stat-box-4 {
    background-color: #2255a4;
    width:15%;
}
#i-space-1 { margin-right: 2px; }
#i-space-2 {
    margin-left: 4px;
    margin-right: 4px;
}
#spn-grey { color: #666666; }
#title {
    font-size: 22px;
    text-shadow: 0 1px 0 #ffffff;
    color: #555555;
    margin-bottom: 30px;
}
#outer {
    background-color: #eeeeee;
    padding: 30px 15px;
    height: calc(100% - 125px);
}
table, th, td {
    text-align: left;
    border: 1px solid #cdcdcd;
}
table, th {
    padding: 10px;
}
table tr td > a {
    display:block;
    height:100%;
    width:100%;
}
th {
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}
td > a {
    font-size: 12px;
    padding: 10px;
}
hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #fff;
    border-top-color: #dadada;
}
tr:hover { background-color: #eeeeee; }
.tr-color { background-color: #f9f9f9; }
#tableHeader{
    margin-top: 40px;
    border: 1px solid #cdcdcd;
    padding: 12px;
    font-weight: bold;
    font-size: 12px;
}
#tableHeader > span {
    float: left;
    margin-right: 10px;
}
