html {
    height: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    min-height: 100%;
}
#push {
    position: relative;
    left:200px;
    width: calc(100% - 204px);
    height: calc(100% - 35px);
}
#insideBlock {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background-color: #eeeeee;
}
#pathheader {
    padding: 12px 20px 11px 10px;
    font-size: 11px;
    background-color: white;
}
#i-space-1 { margin-right: 2px; }
#i-space-2 {
    margin-left: 4px;
    margin-right: 4px;
}
#spn-grey { color: #666666; }
#title {
    font-size: 26px;
    text-shadow: 0 1px 0 #ffffff;
    color: #555555;
    margin-bottom: 30px;
}
#outer {
    background-color: #eeeeee;
    padding: 30px 15px;
    height: calc(100% - 125px);
}
table, th, td {
    text-align: left;
    border: 1px solid #cdcdcd;
}
table, th {
    padding: 10px;
}
table tr td > a {
    display:block;
    height:100%;
    width:100%;
}
th {
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}
td > a {
    font-size: 12px;
    padding: 10px;
}
tr:hover { background-color: #eeeeee; }
.tr-color { background-color: #f9f9f9; }
#tableHeader{
    margin-top: 40px;
    border: 1px solid #cdcdcd;
    padding: 12px;
    font-weight: bold;
    font-size: 12px;
}
#tableHeader > span {
    float: left;
    margin-right: 10px;
}
