html, body {
    font-family: 'Open Sans', sans-serif;
    background-color: #2e363f;
}

/* Header */
#header {
    width: 100%;
    height: 35px;
    background-color: #1f262d;
    color: white;
    font-size: 10px;
}
.dropdown {
    width: 90px;
    display: inline-block;
    padding-top: 12px;
    padding-left: 8px;
    padding-bottom: 14px;
    text-align: center;
    border-left: 1px solid black;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.div-size-1 { width: 50px; }
.div-size-2 { width: 75px; }
.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown:hover .dropdown-content { display: block; }
.dropdown:hover { background-color: white; }
.dropbtn > a {
    color: #999;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

/* Side Bar */
#nav {
    background-color: #2e363f;
    width:200px;
    height:100%;
    display: table;
    float: left;
}
#top-half {
    background-color: #1f262d;
    color:white;
    height: 70px;
    width: 100%;
    text-align: center;
    display: table;
}
#inner-top-half {
    display: table-cell;
    vertical-align: middle;
    font-size: 20px;
}
h1 {
    display: inline-block;
    font-size: 20px;
}
#nav > ul > li {
    font-size: 12px;
    padding: 15px;
    border-top: 1px solid #37414b;
    border-bottom: 1px solid #1f262d;
}
a {
     text-decoration: none;
     color: #939da8;
}
img { width: 40px; margin-right: 4px !important;}
#nav > ul > li > a:hover { color:white; }
a > span { margin-left: 8px !important; }
#nav > ul > li:hover{ background-color: #27a9e3; }
.hvr-grow {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
