html, body {
    font-family: 'Open Sans', sans-serif;
    background-color: #2e363f;
}

/* Header */
#header {
    width: 100%;
    height: 35px;
    background-color: #1f262d;
    color: white;
    font-size: 9px !important;
}
.dropdown {
    width: 90px;
    display: inline-block;
    padding-top: 12px;
    padding-left: 8px;
    padding-bottom: 14px;
    text-align: center;
    border-left: 1px solid black;
    margin-right: -3px; /* Makes size right up to border so hover doesn't look weird*/
}
.dropdown:last-child{
    border-right: 1px solid black;
}
.dropdown-content {
    display: none;
    position: absolute;
    top:35px;
    background-color: white;
    color: #666;
    font-size: 12px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content div {
    padding: 3px 0px;
    border-bottom: 1px solid #ccc;
}
.dropdown-content div > a {
    padding: 5px 10px;
    text-align: left;
    text-decoration: none;
    display: block;
}
.dropdown-content div > a:hover {
    background-color: #666 !important;
    color: white;
}
.dropdown-content div > a > i {
    margin-right: 5px;
}
.div-size-1 { width: 60px; }
.div-size-2 { width: 75px; }
.dropdown:hover .dropdown-content { display: block; }
.dropdown:hover { background-color: black; }
.dropbtn {
    margin-left: auto;
    margin-right: auto;
    /*display: block;*/
}
.dropbtn, .dropbtn > a {
    color: #999;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

/* Side Bar */
#nav {
    background-color: #2e363f;
    width:180px;
    height:100%;
    display: table;
    float: left;
}
#top-half {
    background-color: #1f262d;
    color:white;
    height: 70px;
    width: 100%;
    text-align: center;
    display: table;
}
#inner-top-half {
    display: table-cell;
    vertical-align: middle;
    font-size: 18px;
}
#color1 {
    color:#2586b2;
    margin-left: -5px;
}
#color2 {
    color:#237356;
    margin-left: -5px;
}
#color3 {
    color:#ffb848;
    margin-left: -5px;
}
h1 {
    display: inline-block;
    font-size: 20px;
}
#nav > ul > li {
    font-size: 11px;
    border-top: 1px solid #37414b;
    border-bottom: 1px solid #1f262d;
    line-height: 20px;
}
#nav > ul > li > a {
    padding: 10px 0 10px 15px;
    display: block;
    height: 100%;
}
#makeVisted {
    background-color: #27a9e3;
}
#makeVisted > a {
    color: white;
    background: url(../img/menu-active.png) no-repeat scroll right center transparent !important;
}
a {
     text-decoration: none;
     color: #939da8;
}
img { width: 40px; margin-right: 4px !important;}
#nav > ul > li > a:hover { color:white; }
#nav > ul > li > a > i { margin-right: 10px; }
#nav > ul > li:hover{ background-color: #27a9e3; }
@media screen and (max-width: 970px) {
    #nav > ul > li > a > span {
        display: none;
    }
    #nav {
        width: 40px;
    }
    #push {
        left:40px !important;
        width: calc(100% - 40px) !important;
    }
    img {
        width: 30px;
    }
    #top-half {
        display: block;
        padding-top: 7px;
        padding-left: 25px;
        padding-bottom: 14px;
        width:170px;
    }
    #inner-top-half > span {
        font-size: 18px;
    }
}
@media screen and (max-width: 650px) {
    .dropbtn > span {
        display: none !important;
    }
    .dropbtn > a > span {
        display: none !important;
    }
    .div-size-1 {
        width: 30px !important;
    }
    .dropdown {
        width: 30px;
    }
    #stat-box-1 {
        width: 49% !important;
    }
    #stat-box-2 {
        width: 49% !important;
    }
    #stat-box-3 {
        width: 49% !important;
    }
    #stat-box-4 {
        width: 49% !important;
    }
}
.hvr-grow {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* Footer */
#footer {
    color: #666;
    font-size: 11px;
    padding: 10px 0px;
    /*position: absolute;
    bottom: 0px;*/

    width: 100%;
    background-color: #2e363f;
    text-align: center;
}
