.grandParentContaniner {
    display: -webkit-flex;
    display: flex;
    height: 100%;
}
.parentContainer{
   width: 200px;
   height: 260px;
   margin: auto;
   z-index: 1;
   padding: 20px;
   background-color: #27a9e3;
}
h1 {
    font-size: 18px;
}
input {
    display: block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 200px;
    padding: 3px;
    padding-left: 8px;
    font-size: 14px;
}
input[type="submit"] {
    background-color: #1da1f2;
    color: white;
    font-size: 14px;
}
input[type="submit"]:hover{
    background-color:  #cc0000;
}
